@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor1: black;
    --cor2: rgb(28, 28, 119);
    --cor3: rgba(126, 252, 0, 0.658);
    --cor4: rgb(253, 57, 253);
    --cor5: white;
    --font1: Arial, Helvetica, sans-serif;
}
.cabecalho__navegacao{
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 5px 15px;
    background-color: var(--cor1);
}
.cabecalho__navegacao a {
    text-decoration: none;
    color: var(--cor5);
}
.conteudo{
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--font1);
    padding: 10px;
}
.conteudo__apresetacao__noticias__titulo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
